<% content_for :title, "Add Vehicle" %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <h1 class="h3 mb-4">Add Vehicle</h1>
    <%= render 'form', vehicle: @vehicle %>
  </div>
</div>
